In [31]:
import pandas as pd
import glob

In [34]:
# Chemin vers le dossier contenant les CSV
path = "./"   # ou ex: "./data/"

# Liste de tous les CSV
all_files = glob.glob(path + "*.csv")

# Lecture et concat√©nation
df = pd.concat(
    (pd.read_csv(f) for f in all_files),
    ignore_index=True
)

# Aper√ßu
df
#df.to_excel("test.xlsx", index=False)

In [33]:
df["Date (UTC)"] = pd.to_datetime(df["Date (UTC)"])
#df = df[(df["Cash Amount"] == 0) | (df["Cash Amount"].isna())]

In [26]:
monthly_gross = (
    df
    .groupby(df["Date (UTC)"].dt.to_period("M"))["Gross"]
    .sum()
    .reset_index()
)

# Remettre la date au format timestamp (optionnel)
monthly_gross["Date (UTC)"] = monthly_gross["Date (UTC)"].dt.to_timestamp()
monthly_gross

   Date (UTC)     Gross
0  2025-01-01  14591.40
1  2025-02-01  15295.90
2  2025-03-01  16244.32
3  2025-04-01  14646.00
4  2025-05-01  13331.50
5  2025-06-01   9032.00
6  2025-07-01  10549.50
7  2025-08-01   9965.70
8  2025-09-01  10726.80
9  2025-10-01  12928.50
10 2025-11-01  11885.90

In [13]:
df

,Order ID,Date (UTC),Type,Area,Event Type,Description,Quantity,User,Subtotal,Credits,...,Net Revenue,Cash Amount,Passes,Areas,Event Name,Event Date,Payout ID,Payout Arrival Date (UTC),Payment Method,Last 4
0,4b19b149-6030-4ecb-8163-36d34b0eaef2,2025-01-02 10:55:00,EVENT_SIGNUP,Paris,Open Play,Events,1.0,jdegasquet@gmail.com,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,f20007d8-4cf8-4ff9-af45-f3a08609669e,2025-01-02 11:00:00,BOOKING,Paris,Private,Reservation - Paris Tables,1.0,bapt.bour@gmail.com,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5f63b406-725d-4e46-a576-e1b39014e0f7,2025-01-02 11:15:28,BOOKING,Paris,Private,Reservation - Paris Tables,1.0,home@andrewgillies.eu,30.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5f63b406-725d-4e46-a576-e1b39014e0f7,2025-01-02 11:15:28,COACHING_SESSION,Paris,Private,Coaching - Club,1.0,home@andrewgillies.eu,52.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a6ffd6f6-31de-4c57-82fb-18743b3a85b2,2025-01-02 11:30:00,BOOKING,Paris,Private,Reservation - Paris Tables,1.0,gordenis@sfr.fr,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11431,NaN,2025-12-31 15:16:06,NaN,NaN,Private,Quick Replay: Tables / T3,NaN,NaN,0.5,NaN,...,0.24,0.0,0.0,Paris,Private,2025-12-31 13:30:00,NaN,NaN,Amex,1015.0
11432,NaN,2025-12-31 16:46:05,NaN,NaN,Private,Reservation Owner - 90 mins,NaN,NaN,45.0,NaN,...,44.07,0.0,0.0,Paris,Private,2025-12-31 14:30:00,NaN,NaN,Visa,3305.0
11433,NaN,2025-12-31 16:46:07,NaN,NaN,Private,Quick Replay: Tables / T2,NaN,NaN,0.5,NaN,...,0.24,0.0,0.0,Paris,Private,2025-12-31 14:30:00,NaN,NaN,Visa,3305.0
11434,NaN,2025-12-31 16:46:10,NaN,NaN,Private,Reservation Owner - 30 mins,NaN,NaN,15.0,NaN,...,14.52,0.0,0.0,Paris,Private,2025-12-31 15:30:00,NaN,NaN,Visa,5034.0
11435,NaN,2025-12-31 19:23:50,NaN,NaN,Open Play,Event signup - üçª HAPPY HOUR,NaN,NaN,10.0,NaN,...,9.60,0.0,0.0,Paris,üçª HAPPY HOUR,2026-01-07 17:30:00,NaN,NaN,Visa,8860.0